.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}

.top-padding{
    padding-top: 3px;
}

.margin-left mat-radio-button:not(:first-child){
    margin-left:10px;
}

.form-container{
    margin: 100px;
}

.invalid{
    color:#f44336;
}
.small-font{
    font-size: 12px;
}

.card-styles{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50%;
    margin: auto;
}

.card-content{
    display: flex;
    flex-direction: column;
    width: 100%
}

mat-card-header{
    margin: auto;
}
mat-card-actions{
    margin: auto;
}