<mat-toolbar *ngIf="!isLoggedIn()">
  <span>Movie Booking Application</span><span class="example-spacer"></span> 
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon></mat-icon>
  </button>
  <button mat-raised-button color="primary"><a href="/login" style="color: white; text-decoration: none;">Sign In</a><i class="fa fa-sign-in" aria-hidden="true"></i></button>
  <button mat-raised-button color="primary"><a href="/register" style="color: white; text-decoration: none;">Register</a><i class="fa fa-sign-in" aria-hidden="true"></i></button>
</mat-toolbar>

<mat-toolbar *ngIf="isLoggedIn()">
  <span>Movie Booking Application</span><span class="example-spacer"></span> 
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon></mat-icon>
  </button>
  <button mat-raised-button color="primary" (click)="handleLogout()">Logout<i class="fa fa-sign-in" aria-hidden="true"></i></button>
</mat-toolbar>

<router-outlet></router-outlet>