 <form [formGroup]="loginForm" class="form-container">
    <mat-card class="card-styles">
        <mat-card-header>
            <mat-card-title>Sign In</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-content">
                <div class="row">
                        <mat-form-field class="example-full-width">
                            <mat-label>Username</mat-label>
                            <input formControlName="userName" type="text" matInput required name="userName" maxlength="15" >
                            <mat-error *ngIf="loginForm.get('userName')?.errors?.['required']">Username is required.</mat-error>
                            <mat-error *ngIf="loginForm.get('userName')?.errors?.['maxlength']">Maximum 15 characters allowed is required.</mat-error>
                        </mat-form-field> 
                </div>
                <div class="row">
                        <mat-form-field class="example-full-width">
                            <mat-label>Password</mat-label>
                            <input formControlName="password" type="password" matInput required name="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$">
                            <mat-error *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</mat-error>
                            <mat-error *ngIf="loginForm.get('password')?.errors?.['pattern']">Atleast 1 Uppercase, 1 Lowercase, 1 Number, 1 Symbol required.</mat-error>
                        </mat-form-field>
                </div>
                <mat-card-actions>
                    <button [disabled]="loginForm.valid?'false':'true'" (click)="doLogin()" mat-raised-button color="primary">Login</button>
                </mat-card-actions>
                <hr>
                <p>New around here? <a href="/register">Sign Up</a></p>
                <a href="/forgot-password">forgot password?</a>
        </mat-card-content>
    </mat-card>
</form>