<form [formGroup]="forgotRequestForm" class="form-container" *ngIf="secretQuestion.length==0">
    <mat-card class="card-styles">
        <mat-card-header>
            <mat-card-title>Forgot Password</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-content">
                <div class="row">
                        <mat-form-field class="example-full-width">
                            <mat-label>Username</mat-label>
                            <input formControlName="userName" type="text" matInput required name="userName">
                            <mat-error *ngIf="forgotRequestForm.get('userName')?.invalid">Username is required.</mat-error>
                        </mat-form-field>
                </div>
        </mat-card-content>
        <mat-card-actions>
            <button [disabled]="forgotRequestForm.valid?'false':'true'" (click)="getSecretQuestion()" mat-raised-button color="primary">Enter</button>
        </mat-card-actions>
    </mat-card>
</form>

<form [formGroup]="updateForm" class="form-container" *ngIf="secretQuestion.length>0">
    <mat-card class="card-styles">
        <mat-card-header>
            <mat-card-title>Update Password</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-content">
            <div class="row">
                <mat-form-field class="example-full-width">
                    <mat-label>Secret Question</mat-label>
                    <input type="text" matInput required name="secretQuestion" disabled>
                    {{secretQuestion}}
                </mat-form-field>
            </div>

            <div class="row">
                    <mat-form-field class="example-full-width">
                        <mat-label>Secret Answer</mat-label>
                        <input formControlName="secretAnswer" type="text" matInput required name="secretAnswer">
                        <mat-error *ngIf="updateForm.get('secretAnswer')?.invalid">SecretAnswer is required.</mat-error>
                    </mat-form-field>
            </div>
            <div class="row">
                    <mat-form-field class="example-full-width">
                        <mat-label>New Password</mat-label>
                        <input formControlName="newPassword" type="password" matInput required name="newPassword" minlength="8" maxlength="12" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$">
                        <mat-error *ngIf="updateForm.get('password')?.errors?.['required']">Password is required.</mat-error>
                        <mat-error *ngIf="updateForm.get('password')?.errors?.['pattern']">Atleast 1 Uppercase, 1 Lowercase, 1 Number, 1 Symbol required.</mat-error>
                        <mat-error *ngIf="updateForm.get('password')?.errors?.['minlength']">Minimum 8 characters required.</mat-error>
                        <mat-error *ngIf="updateForm.get('password')?.errors?.['maxlength']">Maximum 12 characters required.</mat-error>
                    </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button [disabled]="updateForm.valid?'false':'true'" (click)="updatePassword()" mat-raised-button color="primary">Update</button>
        </mat-card-actions>
    </mat-card>
</form>